<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\style.css">
    <title>Weather Song</title>
</head>
<body>
    <div class="top-flexbox-container">
        <div class="welcome">
            <h1>Welcome to the weather song thing</h1>
            <h2>this section will give you details about things</h2>
        </div>
        <div class="zipcode-form-div">
            <br>
            <p1> to get a song suggestion, insert your zip code below:</p1>
            <form method="POST"  id="zipcode-form">
                <input type="text" id="zipcode" name="zipcode">
                <input type="submit" value="Submit" placeholder="Zipcode" id="zipbtn">
            </form>
            <br>
            <p1>your zipcode is {{ user_zipcode }}</p1>
        </div>

    </div>
</body>
</html>