<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\style.css">
    <title>Weather Song</title>
</head>
<body>
    <div class="top-flexbox-container">
        <div class="welcome">
            <h1 id="welcome">Welcome to WeatherSong</h1>
            <h2 id="web_info">This website recomends songs to match the current weather of where you are!</h2>
        </div>
        <div class="zipcode-form-div">
            <br>
            <p1> To get a song suggestion, insert your zip code below:</p1>
            <form method="POST"  id="zipcode-form">
                <input type="text" id="zipcode" name="zipcode">
                <input type="submit" value="Submit" placeholder="Zipcode" id="zipbtn">
            </form>
            <br>
        </div>
        <div>

        </div>
    </div>
</body>
</html>