<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\style.css">
    <title>Weather Song</title>
</head>
<body>
    <div class="top-flexbox-container">
        <div class="welcome">
            <h1 id="welcome">Welcome to WeatherSong</h1>
            <h2 id="web_info">This website recommends songs to match the current weather of where you are!</h2>
        </div>
        <div class="zipcode-form-div">
            <br>
            <p1 id="zip_info"> To get a song suggestion at a different zipcode, insert the new zip code below:</p1>
            <form method="POST"  id="zipcode-form">
                <input type="text" id="zipcode" name="zipcode">
                <input type="submit" value="Submit" placeholder="Zipcode" id="zipbtn">
            </form>
            <br>
            <p1 id="location">the Website is using the current weather at {{ user_local }}</p1>
            <br>
            <p1 id="date_time">The date and time is {{ user_date }}</p1>
        
            <p1 id="cloud_coverage">There is currently {{ cloud_percent }} percent cloud coverage</p1>
        </div>
    </div>
    <br>
    <br>
    <center>
        <div class="music_results">
            <div id="recommend_header"><p2>Based off of your current weather, We recomend this song:</p3></div>
            <br>
            <br>
            <iframe id="spotify" style="border-radius:12px" src={{ ref }}?utm_source=generator width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <br>
            <br>
            <div id="explain"><p2> {{ explain }} </p2></div>
        </center> 
    </div>
</body>
</html>