<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\static\style.css">
    <title>Weather Song</title>
</head>
<body>
    <div class="top-flexbox-container">
        <div class="welcome">
            <h1>Welcome to WeatherSong</h1>
            <h2>This website recomends songs to match the current weather of where you are!</h2>
        </div>
        <div class="zipcode-form-div">
            <br>
            <p1> to get a song suggestion at a different zipcode, insert the zip code below:</p1>
            <form method="POST"  id="zipcode-form">
                <input type="text" id="zipcode" name="zipcode">
                <input type="submit" value="Submit" placeholder="Zipcode" id="zipbtn">
            </form>
            <br>
            <p1>the Website is using the current weather at {{ user_local }}</p1>
            <br>
            <p1>The date and time is {{ user_date }}</p1>
            <br>
            <p1>is it day? the value is {{ is_day }}</p1>
            <br>
            <p1>There is currently {{ cloud_percent }} percent of cloud coverage</p1>
            <br>
            <p1>the rain is currently {{ rain }} </p1>
        </div>
    </div>
    <center>
        <div class="music-results">
            <p3>Based off oy your current weather, We recomend this song:</p3>
            <iframe style="border-radius:12px" src={{ ref }}?utm_source=generator width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </center> 
    </div>
</body>
</html>